{% extends "base_generic.html" %}

{% block content %}

    <div id="block-content" class="m-5 max-w-[100vw]">
        <h1><bdi class="font-semibold">Renew:</bdi> {{book_instance.book.title}}</h1>
        <p><bdi class="font-semibold">Borrower:</bdi> {{book_instance.borrower}}</p>
        <p {% if book_instance.is_overdue %} class="text-danger"{% endif %}><bdi class="font-semibold">Due Date:</bdi> {{book_instance.due_back}}</p>

        <form action="" method="post" class="py-4">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>

{% endblock %}
