{% extends "base_generic.html" %}

{% block content %}

    <div id="block-content" class="m-5 max-w-[100vw]">
        {% if searched %}
            <h1 class = "text-3xl font-semibold my-4">Your search results</h1>
                <table class="shadow border-collapse min-w-[500px] w-[50%]">
                    <thead>
                        <tr>
                            <th class="bg-gray-300 border border-gray-300  dark:bg-gray-800">Title</th>
                            <th class="bg-gray-300 border border-gray-300  dark:bg-gray-800">Author</th>
                            <th class="bg-gray-300 border border-gray-300  dark:bg-gray-800">Quanitity</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% if books %}
                        {% for book in books %}
                            <tr>
                                <td class="border border-gray-300"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
                                <td class="border border-gray-300">{{book.author}}</td>
                                <td class="border border-gray-300">{{book.bookinstance_set.all.count}}</td>
                            </tr>
                        {%endfor%}
                    {%elif authorsF%}
                        {% for author in authorsF %}
                            <tr>
                                <td class="border border-gray-300"><a href="{{ book.get_absolute_url }}">{{ author.title }}</a></td>
                                <td class="border border-gray-300">{{author.author}}</td>
                                <td class="border border-gray-300">{{author.bookinstance_set.all.count}}</td>
                            </tr>
                        {%endfor%}
		 {%elif authorsL%}
			{% for author in authorsL %}
                            <tr>
                                <td class="border border-gray-300"><a href="{{ book.get_absolute_url }}">{{ author.title }}</a></td>
                                <td class="border border-gray-300">{{author.author}}</td>
                                <td class="border border-gray-300">{{author.bookinstance_set.all.count}}</td>
                            </tr>
                        {%endfor%}
                    {%else%}
                        {%for language in languages%}
                            <tr>
                                <td class="border border-gray-300"><a href="{{ book.get_absolute_url }}">{{ language.title }}</a></td>
                                <td class="border border-gray-300">{{language.author}}</td>
                                <td class="border border-gray-300">{{language.bookinstance_set.all.count}}</td>
                            </tr>
                        {%endfor%}
                    {%endif%}
                

                    </tbody>
                </table>
        {%else%}
        <h1 class = "text-3xl font-semibold my-4">You did not input anything</h1>
        {%endif%}
    </div>

{% endblock %}